@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-image: url(../imgs/v748-toon-131.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Arvo", sans-serif;
  line-height: 1.5em;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2em;
  margin-bottom: .3em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.nav-container header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em;
}

.nav-container header a .logo {
  max-height: 6vh;
  max-width: 6vh;
}

.nav-container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-container header nav ul a {
  font-size: 15px;
  display: block;
  padding: .5em 1em;
}

.primary-navigation {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  color: whitesmoke;
  letter-spacing: .2em;
  font-weight: 700;
  position: fixed;
  inset: 0 0 0 15%;
  padding: Min(18vh, 10rem) 2em;
  z-index: 50;
  background: Hsl(0 0% 0%/0.75);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.primary-navigation[data-visible='true'] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .primary-navigation {
    background: Hsl(0 0% 100%/0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}

.mobile-nav-toggle {
  position: absolute;
  background: url("../imgs/Path 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  top: 1em;
  right: 2em;
  z-index: 9999;
  border: 0;
}

.showcase {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url() no-repeat center center/cover;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  position: relative;
  top: -12em;
  letter-spacing: .2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content h1 {
  margin-top: -1em;
  font-size: 40px;
}

.content h3 {
  margin-top: -.5em;
  font-weight: 400;
  font-size: 10px;
}

.fattl-video {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../imgs/v748-toon-131.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  opacity: 40%;
}
/*# sourceMappingURL=main.css.map */